@page

@model CreateModel
@{
    ViewData["Title"] = "Set Your Movie Goal";
}

<h1>Movie Goal Set!</h1>
<p>Your movie goal has been saved! You can view it in your profile.</p>

<!--<a asp-page="/Profile/Index" class="btn btn-primary">Go to Profile</a>-->
